<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Darshil Jayesh Shah/N01580076</h1>
      <nav>
        <ul>
          <li><a href="/products">All Products</a></li>
          <li><a href="/products">Add New Product</a></li>
        </ul>
      </nav>
    </header>
    
    <div class="content">
      {{{body}}}
    </div>
    
    <footer>
      <p>djshah2000@gmail.com</p>
    </footer>
  </body>
</html>
